<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <!--bower:css-->
    <!--endbower-->
    <!-- inject:css -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- endinject -->
</head>

<body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h1>This is an h1</h1>
    <div class="links">
    <p>This is a <a href="#">link</a></p>
    </div>
    <div class="sidebar">
    <div class="grad"></div>
    </div>
    <!--bower:js-->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <!--endbower-->
    <!-- inject:js -->
    <script src="/javascripts/baby-steps.1.0.js"></script>
    <!-- endinject -->
</body>

</html>
